@import "_keyframes.scss";

.game-container {
  text-align: center;

  .title.second-title {
    color: #3c83b1;
    font-size: 5rem;
    animation: topToBottom 500ms;
  }

  .content-wrapper {
    .title.sub-title {
      color: #b62fb6;
      font-size: 3rem;
      margin: 5% 0;
      animation: scaleOut 500ms;
    }

    .button-wrapper {
      display: grid;
      grid-template-columns: fit-content(100%) fit-content(100%);
      justify-content: center;
      column-gap: 5%;
      row-gap: 15%;

      .btn.round-btn {
        background: #65b5ad;
        border-color: #428a83;

        &:hover {
          background: #53aca3;
          cursor: pointer;
        }
      }
    }
  }

  .game-content {
    animation: scaleOut 500ms;

    .round-counter {
      color: #b62fb6;
      font-size: 5rem;
      margin: 5% 0;
    }

    .score-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 3px solid #000;
      padding: 2%;

      .player {
        font-size: 3rem;
      }

      .user {
        transform: translateX(-70%);
      }

      .computer {
        transform: translateX(70%);
      }

      .score {
        font-size: 4rem;
      }
    }

    .gameplay {
      font-size: 2rem;
      margin-top: 5%;
    }

    .choices {
      display: flex;
      justify-content: space-evenly;

      .choose {
        background: none;
        width: 8rem;
        height: 8rem;
        font-size: 5rem;
        border: 5px solid #000;
        border-radius: 50%;
        padding-bottom: 10%;
        margin: 5% 0;
        transition: transform 0.3s;

        &:hover {
          cursor: pointer;
          transform: scale(1.25);
        }
      }
    }
  }

  .move-text {
    font-size: 2rem;
  }

  .btn.play-btn.restart-btn {
    width: fit-content;
    margin: 5% auto 0 auto;
    font-size: 2rem;
  }
}
